body {
  margin: 0;
  background-color: #00cfcf;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#splash {
  margin-top:50px;
  background-image: url('../src/img/turf_splash.png');
  height:65vh;
  display: flex;
  background-size: 1000px;
  background-position: center;
  align-items:center;
  padding:0 20px;
}

#splashbuttons {
  margin-top:25px;
  text-align: center;
  padding:0 20px;
}

#signbox {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: white;
  align-items:center;
  background-position: center;
  border-radius: 10px;
  height:550px;
  width: 500px;
}

#signheader {
  font-family: "Segoe UI";
  font-size: 40px;
  color: #707070;
  padding-bottom: 20px;
}

#signinsubmit {
  margin-top: 150px;
  border-color: #00cfcf;
  background-color: #00cfcf;
}

#signupsubmit {
  margin-top: 20px;
  border-color: #00cfcf;
  background-color: #00cfcf;
}

#link {
  color: #00cfcf;
}

/* buttons */
.button {
  text-decoration: none;
  margin-top:50px;
  margin-right:50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
  border: #ffffff 2px solid;
  border-radius: 10px;
  color: #ffffff;
  font-size: 30px;
}

.button:hover {
  text-decoration: none;
  margin-top:50px;
  margin-right:50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
  border: #ffffff 2px solid;
  border-radius: 10px;
  background: #ffffff;
  color: #00cfcf;
  font-size: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input[type=password] {
  width: 325px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=email] {
  width: 325px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=name] {
  width: 325px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}